In [2]:
import re
import decimal
import pandas as pd
import numpy as np
import matplotlib as plt

In [9]:

aamass2 = pd.read_csv('aa_masstable_2.csv')
aamass2

   AA       Mass
0   A   71.03711
1   C  103.00919
2   D  115.02694
3   E  129.04259
4   F  147.06841
5   G   57.02146
6   H  137.05891
7   I  113.08406
8   K  128.09496
9   L  113.08406
10  M  131.04049
11  N  114.04293
12  P   97.05276
13  Q  128.05858
14  R  156.10111
15  S   87.03203
16  T  101.04768
17  V   99.06841
18  W  186.07931
19  Y  163.06333

In [54]:
print(aamass)
print(aamass2)

    0          1
0   A   71.03711
1   C  103.00919
2   D  115.02694
3   E  129.04259
4   F  147.06841
5   G   57.02146
6   H  137.05891
7   I  113.08406
8   K  128.09496
9   L  113.08406
10  M  131.04049
11  N  114.04293
12  P   97.05276
13  Q  128.05858
14  R  156.10111
15  S   87.03203
16  T  101.04768
17  V   99.06841
18  W  186.07931
19  Y  163.06333
   AA       Mass
0   A   71.03711
1   C  103.00919
2   D  115.02694
3   E  129.04259
4   F  147.06841
5   G   57.02146
6   H  137.05891
7   I  113.08406
8   K  128.09496
9   L  113.08406
10  M  131.04049
11  N  114.04293
12  P   97.05276
13  Q  128.05858
14  R  156.10111
15  S   87.03203
16  T  101.04768
17  V   99.06841
18  W  186.07931
19  Y  163.06333

In [55]:
print(aamass.columns)
print(aamass2.columns)

Index(['0', '1'], dtype='object')
Index(['AA', 'Mass'], dtype='object')

In [56]:
colzero = aamass['0']
colzero_2 = aamass2['AA']

In [57]:
print(colzero)
print(colzero_2)

0     A
1     C
2     D
3     E
4     F
5     G
6     H
7     I
8     K
9     L
10    M
11    N
12    P
13    Q
14    R
15    S
16    T
17    V
18    W
19    Y
Name: 0, dtype: object
0     A
1     C
2     D
3     E
4     F
5     G
6     H
7     I
8     K
9     L
10    M
11    N
12    P
13    Q
14    R
15    S
16    T
17    V
18    W
19    Y
Name: AA, dtype: object

In [58]:
aamass_2_df = pd.DataFrame(aamass2)

In [59]:
print(aamass_2_df)

   AA       Mass
0   A   71.03711
1   C  103.00919
2   D  115.02694
3   E  129.04259
4   F  147.06841
5   G   57.02146
6   H  137.05891
7   I  113.08406
8   K  128.09496
9   L  113.08406
10  M  131.04049
11  N  114.04293
12  P   97.05276
13  Q  128.05858
14  R  156.10111
15  S   87.03203
16  T  101.04768
17  V   99.06841
18  W  186.07931
19  Y  163.06333

In [60]:
aamass_2_df['AA']

0     A
1     C
2     D
3     E
4     F
5     G
6     H
7     I
8     K
9     L
10    M
11    N
12    P
13    Q
14    R
15    S
16    T
17    V
18    W
19    Y
Name: AA, dtype: object

In [89]:
AA = aamass_2_df['AA'].tolist()
Mass = aamass_2_df['Mass'].tolist()

In [126]:
massdict = {}
for i in range(0,len(AA)):
    massdict[AA[i]] = Mass[i]
print(massdict)

{'L': 113.08406000000001, 'M': 131.04048999999998, 'A': 71.037109999999998, 'G': 57.021459999999998, 'R': 156.10111000000001, 'S': 87.032030000000006, 'H': 137.05891, 'C': 103.00919, 'F': 147.06841, 'Q': 128.05858000000001, 'V': 99.06841, 'I': 113.08406000000001, 'P': 97.052759999999992, 'D': 115.02694, 'E': 129.04258999999999, 'N': 114.04293, 'T': 101.04768, 'Y': 163.06333000000001, 'K': 128.09496000000001, 'W': 186.07931000000002}

In [104]:
Protein = 'SKADYEK'

In [105]:
Prosplit = re.findall('.{1}', Protein)

In [109]:
print(Prosplit)

['S', 'K', 'A', 'D', 'Y', 'E', 'K']

In [111]:
prdd

face